@page

const { ajax } = require("jquery");
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="text-center">
  
</div>

<script>

 $(document).ready(function () {



    });
</script>
